* {
	box-sizing:border-box;
}

html, body {
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
}

body {
    position: relative;
  }
  
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#Site {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
	padding: 10px;
}

#haut_page {
    background-size: cover;
    background-position: center;
	height: 250px;
}

#haut-page h1 {
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.9);
    width: 633px;
    border-radius: 10px;
    text-align: center;
}

#banner {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#lien {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#lien a {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 10px 0;
    padding: 10px;
    border-left: 5px solid #ee3c5a;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    text-decoration: none;
    color: black;
}

#lien:hover a:hover {
    background-color: rgba(255, 255, 255, 1);
    border-left: 5px solid #383838;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#page {
    display: flex;
    justify-content: space-between;
}

footer {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    text-shadow: #ffffff 0px 0px 5px;
}

@media only screen and (max-width: 1200px){

    #page {
        gap: 20px;
    }
}

@media only screen and (max-width: 900px) {
    #Site {
      width: 90%;
      padding: 20px;
    }

    #haut-page h1 {
        width: 100%;
        text-align: center;
    }

    #lien {
        display: flex;
        flex-wrap: wrap;
    }

    #page {
        flex-direction: column;
    }
}